/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html:focus-within {
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
}
body {
  line-height: calc(1em + 0.5rem);
  text-rendering: optimizeSpeed;
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
a:not([class]) {
  -webkit-text-decoration-skip-ink: all;
          text-decoration-skip-ink: all;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* Using below when you use framework */
/* #root, #__next {
  isolation: isolate;
} */
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: min(90% - 2rem, 25rem);
  margin-inline: auto;
}

.m_auto {
  margin: auto;
}

.text {
  text-decoration: underline;
}

.text_italic {
  font-style: italic;
}

.text_lg {
  font-size: 1.25rem;
}

.text_xl {
  font-size: 1.5rem;
  line-height: 1.5;
}

.stay-right-side {
  margin-inline-start: auto;
}

.text_highlight {
  background-color: pink;
}

.main {
  padding-block: 10vmin;
}

.title {
  font-size: 3rem;
  line-height: 1.2;
  text-align: center;
  color: transparent;
  background-color: #fff;
  background-image: linear-gradient(180deg, hsl(0, 0%, 10%) 60%, hsl(0, 0%, 80%));
  background-clip: text;
  -webkit-background-clip: text;
}

.search {
  padding-block-start: 5vmin;
  font-size: clamp(2rem, 9vw, 2.5rem);
}

.search__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.search__label {
  position: absolute;
  top: 25%;
  transform: translateY(var(--moving-distance, 7.5rem));
  transition:
    transform 0.5s cubic-bezier(.96,.97,0,.98),
    opacity 0.5s cubic-bezier(.96,.97,0,.98);
  cursor: pointer;
}

.search__label::after {
  content: '-';
  position: absolute;
  inset: 60% 52.5%;
  transform: rotate(60deg);
}

.search__input {
  opacity: 0;
  width: min(100% - 1.5rem, 25rem);
  border: .25rem solid black;
  border-right: none;
  outline: none;
  transform-origin: right;
}

.search__close-button {
  opacity: 0;
  border: .25rem solid black;
  outline: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  position: relative;
  box-shadow: 5px 5px 0 0 var(--hover-color, white);
}

.search__close-button:is(:hover, :focus) {
  --hover-color: gray;
  transform: translate(-5px, -5px);
}

.search_moving-up {
  --moving-distance: 0;
  pointer-events: none;
  opacity: 0;
}

.search__input_show {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(.96,.97,0,.98);
}

.search__close-button_show {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(.96,.97,0,.98);
}

.suggestions {
  padding-block-start: 3vmin;
  list-style-type: none;
  padding-inline-start: 0;
}

.suggestions__item {
  border: .25rem solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 1rem;
  padding: 1rem;
  font-size: 1rem;
  transition: transform 100ms ease;
  box-shadow: 5px 5px 0 0 var(--hover-color, white);
}

.suggestions__item:hover {
  --hover-color: gray;
  transform: translate(-5px, -5px);
}

.suggestions__item + .suggestions__item {
  margin-block-start: 2vmin;
}